%div
  = link_to group.name, group

  - if current_user && current_user.can_join?(group)
    |
    = link_to "Join", group_join_path(group), :method => :post

  - if current_user && current_user.admin_of?(group)
    |
    = link_to "Edit", edit_group_path(group.id)