<li id="{id}">
    <div class="wrap">
        <a href="/photos/{id}">
            <img src="/data/{id}/wall.png"/>
        </a>
    </div>
    <div class="info">
        <p><a href="/photos/{id}">{name}</a></p>
        <p>{author}</p>
        <p>{fullDate}</p>
        <p><a href="/user/{userId}/photos">{user}</a></p>
    </div>
</li>