%div#add_comment
  = form_for note, :as => :note, :url => url, :remote => true do |f|
    = f.text_area :message, :placeholder => 'Write a comment...'
    = f.submit "Add"
    = button_tag "Cancel", :onclick => "javascript: document.getElementById('note_message').value = ''; return false;"