<div id="multiload">
  <%= file_field_tag :fileinput, :multiple => true, :accept => 'image/*' %>

  <%= select_tag :items, params[:item], :multiple => true %>

  <ul class='menu'>
    <%= link_to 'Select some files', '#', :id => 'fileselect' %>
  </ul>

  <ul class='filelist'>
  </ul>
</div>

<script type="text/javascript" src="/assets/ptm.multiload.js"></script>
<script type="text/javascript">
  $(document).ready(function() {
    $('#multiload').ptmMultiload({
      text: 'No files'
    });
  });
</script>




