%div
  - if photo.user.avatar.exists?
    = image_tag photo.user.avatar.url(:small)
  - else
    = image_tag "nologo.jpg", :width => '40', :height => '40'

  = link_to photo.user.full_name, detail_path(:id => photo.user), :class => 'darklink'

  - if signed_in? && !current_user.admin_of_photo?(photo)
    %span#add_as_friend
      = render :partial => 'accounts/shared/add_as_friend', :locals => { :author => photo.user }