%div.span-16
  %h2= @title_page

  %p= @group.description

  - @users.each do |user|
    %div
      = user.full_name
      = link_to 'invite', invite_group_member_groups_path(:group_id => @group, :user_id => user), :method => :post

%div.span-8.last
  %h3 Test show