%div
  %label Tags
  = link_to '(add a tag)', '#', :class => 'link'
  - if tags.present?
    %br
    %span
      = render :partial => 'tags/shared/tag', :collection => tags, :locals => { :photo => photo }

- if signed_in?
  = # render :partial => 'tags/shared/form', :locals => { :photo => photo }