%h3 Activities

- if signed_in? && current_user.activities.present?
  %ul
    - current_user.activities.each do |activity|
      %li
        User
        = link_to activity.user.full_name
        &nbsp;
        = activity.action
        &nbsp;
        = link_to activity.object_name, activity.object_link