%h3= @user.full_name

%div.span-16
  %h5 His photos
  = render :partial => 'photos/shared/photo', :collection => @user.photos
%div.span-8.last
  %h5 His friends
  %ul
    - @user.friendships.each do |friendship|
      %li
        = link_to friendship.friend.full_name, detail_path(:id => friendship.friend)