%div.span-10
  %div#album-count
    You have
    = pluralize(@albums.count, 'album')
%div.span-6.last
  = link_to "Create new album", new_album_path

%ul#collection
  = render :partial => "albums/shared/album", :collection => @albums
%div.break &nbsp;