%h4 Recommend date

= form_tag create_recommend_at_album_photo_path(@album, @photo), :method => :post do
  %div
    %label From at:
    = datetime_select :from_at, params[:from_at]

  %div
    %label To at:
    = datetime_select :to_at, params[:to_at]

  %div
    = submit_tag 'Recommend'