%h4 Recommend date

= form_tag create_recommend_at_photo_path(@photo), :method => :post do
  %div
    %label Select approximate or exact date or period
  %div
    = date_select :from_at, params[:from_at],
                      :start_year => 1826, :end_year => Time.now.year - 15,
                      :prompt => { :day => 'day', :month => 'month', :year => 'year' }
    &nbsp;-&nbsp;
    = date_select :to_at, params[:to_at],
                      :start_year => 1826, :end_year => Time.now.year - 15,
                      :prompt => { :day => 'day', :month => 'month', :year => 'year' }

  %div
    = submit_tag 'Recommend'