#wall {
    width: 1280px;
}

#wall li {
    width: 150px;
    padding: 5px;
    float: left;
}

#wall li img.thumb {
    height: 116px;
}

#wall li div {
    display: none;
    position: absolute;
    width: 210px;
    padding: 5px;
    border: 1px solid #eee;
    background: #fff;
    z-index: 100;
}

#wall li div img {
    width: 210px;
}

#wall li div{
    font-size: 9px;
}