* { padding: 0; margin: 0; }
body { padding-top: 10px; font-size: 12px; }
a { color: #666; }
a:hover { color: #999; }
div.clear { clear: both; }

.action {
    border: 1px solid #666;
    background: #fff;
    padding-left: 5px;
    padding-right: 5px;
}
.action:hover {
    background: #eee;
}

.text_lite {
    height: 64px;
    width: 426px;
}

.field_lite {
    width: 426px;
}

div#datetime_form {
    padding: 0px;
    height: 60px;
}
div#datetime_form select {
    float: left;
}
div#datetime_form div.tire {
    float:left;
}

div#wrapper { width: 1280px; margin: 0px auto; }

/* ========== Header menu =================== */
div#header { }

div#logo { float: left; padding-top: 18px;}
div#logo a { font-size: 24px; }

div#menu { padding-left: 320px; }
div#menu ul.nav-bar {
	border: none;
	margin: 0px;	
	float: right;
}
div#menu ul.nav-bar li {
	border: none;
	margin: 0px;
	padding-left: 25px;
}

div#menu ul.nav-bar .small { width: 140px; font-size: 12px; }
div#menu ul.nav-bar .medium { width: 300px; font-size: 12px; }
div#menu ul.nav-bar .flyout { padding: 0px; }
div#menu ul.nav-bar li .flyout li { padding: 3px 10px 3px 10px; }
div#menu ul.nav-bar li .flyout li:hover { background: #eee; }
/* ========================================== */

/* ================== Search fields ============= */
div#search { padding: 0px; }
div#search div.empty-column { width: 3px; float: left; }
div#search div.three-column { width: 420px; float: left; }
#go { padding-top: 110px; float: left; padding-left: 160px; width: 275px; background: url("/assets/bglines.png"); height: 80px; }
#field { padding-top: 106px; }
#go .action-button { border: 1px solid #ccc; background: #fff; font-size: 20px; padding: 3px 10px; font-color: #666; }
#go .action-button:hover { cursor: pointer; }
/* ================================================ */

#fullmap, #map_canvas { width: 420px; height: 218px; }
#map_canvas { overflow: hidden; position: relative; }

/* ==================== Dropdown menu ==================================== */
#dropdown { margin: 0; padding: 0; padding-top: 6px; padding-left: 340px; }
#dropdown li { padding-top: 3px; border: 1px solid #bbb; width: 33px; height: 22px; }
#dropdown li a { font-size: 16px; }
#dropdown li ul { margin: 0; padding: 0; position: relative; visibility: hidden; border: 1px solid #ccc; top: 7px; left: -78px; width: 110px;}
#dropdown li ul li { width: 94px; height: 16px; border: 0px solid #ccc; padding: 8px; margin: 0; }
#dropdown li ul li:hover { background: #eee; }
#dropdown li ul li a { font-size: 12px; }
/* ======================================================================= */

/* ========================== Slider ===================================== */
#slider-form { width: 100%; }
#slider { width: 100%; }
/* Контейнер слайдера */
.ui-slider { position: relative; }
/* Ползунок */
.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 4px;   /* Задаем нужную ширину */
  height: 10px;  /* и высоту */
  background: url(/assets/slider.png); /* картинка изображающая ползунок. Или можно залить цветом, задать бордюр и скругления */
  cursor: pointer
}
.ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  overflow: hidden;
}
/* горизонтальный слайдер (сама полоса по которой бегает ползунок) */
.ui-slider-horizontal {
  height: 1px; /* задаем высоту согласно дизайна */
}
/* позиционируем ползунки */
.ui-slider-horizontal .ui-slider-handle {
  top: -5px;
  margin-left: -5px;
}
.ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%;
}
.ui-slider-horizontal .ui-slider-range-min {
  left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
  right: 0;
}
/* оформление полосы по которой ходит ползунок */
.ui-widget-content {
  /* border: 1px solid #D4D4D4; */
  background: #999;
}
/* оформление активного участка (между двумя ползунками) */
.ui-widget-header { border: 1px solid #D4D4D4; background: #666; }
ul#data { padding-left: 45px; padding-top: 15px; padding-bottom: 10px; }
ul#data li { font-size: 1.05em; float: left; padding-right: 34px; padding-left: 9px; }
/* ======================================================================= */

/* ============================= Stats ================================== */
#stats { font-size: 0.9em; padding-bottom: 10px; }
#stats div { float: left; width: 425px; }
/* ====================================================================== */

/* ================================ Socials ============================= */
#socials { padding-left: 360px; }
/* ====================================================================== */

/* ================== Photo thumbs ====================================== */
#photos { padding-top: 25px; }
/* ====================================================================== */

/* ======================== Footer ====================================== */
footer { padding-top: 15px; padding-left: 480px; }
ul#footer-links li { float: left; padding-right: 25px; }
/* ====================================================================== */

/* ==================== Collection ====================================== */
#collection {
    width: 1280px;
}

#collection li {
    width: 310px;
    float: left;
    padding: 5px;
}

#collection li div.imaging {
    height: 205px;
}

#collection li div.imaging img{
    height: 205px;
}

#collection li div.name {
    padding-top: 5px;
}

#collection li div.name a {
    font-weight: bold;
}

#collection li div.name div {
    font-size: 0.8em;
}
/* ====================================================================== */

/* =========================== Photo detail ============================= */
#photo-detail {
    width: 1280px;
}

#photo-detail div.column1 {
    width: 842px;
    float: left;
    padding-right: 10px;
}

#photo-detail .column1 div, #photo-detail .column2 div {
    padding: 5px;
}

#photo-detail div.column2 {
    width: 426px;
    padding-left: 852px;
}

#photo-detail a.link {
    font-size: 0.8em;
    color: #999;
}

#photo-detail a.link:hover {
    color: #aaa;
}
#photo-detail label {
    font-weight: bold;
}

#photo-detail span {
    font-size: 0.9em;
}
#photo-detail div.map {
    padding: 0px;
    padding-top: 3px;
}
#photo-detail div.statistic {
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    height: 22px;
    padding: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 0.85em;
}

#photo-detail div.statistic ul {

}

#photo-detail div.statistic ul li {
    float: left;
    width: 71px;
}

#photo-detail div.statistic ul li div {
    padding: 0px;
    position: relative;
    left: 30px;
    top: -23px;
}


#photo-detail div.comment {
    padding: 2px;
    padding-bottom: 0px;
}
#photo-detail div.image {
    padding: 0px;
    float: left;
    width: 40px;
    height: 40px;
}
#photo-detail div.text {
    padding: 0px;
    padding-left: 45px;
}

#comments {
    padding: 0px;
}

#add_comment {
    padding: 0px;
}

#add_comment textarea {
    font-size: 0.9em;
    height: 86px;
    width: 100%;
}
#add_comment div {
    padding: 0px;
}

#add_comment input[type=submit], #add_comment button {
    border: 1px solid #666;
    background: #fff;
    padding-left: 5px;
    padding-right: 5px;
}

#add_comment input[type=submit]:hover, #add_comment button:hover {
    background: #eee;
    cursor: pointer;
}
/* ====================================================================== */

/* =================== NAVIGATION FOR PHOTO ============================= */
#navigation {
    padding: 0px;
}
#navigation ul {
    padding: 0;
    margin: 0;
}
#navigation ul li {
    float: left;
    padding: 0;
}
/* ====================================================================== */

/* ================= Controls ========================================== */
ul.controls { padding-left: 120px; }
ul.controls li { float: left; padding-left: 4px; padding-right: 4px; padding-top: 3px; }
/* ===================================================================== */

/*div { border: 1px solid red; }*/