body {
    padding-top: 15px;
}

/*  Dropdown menu */
#dropdown, #dropdown ul {
    list-style-type: none;
    width: 150px;
}
#dropdown li.headlink ul {
    display: none;
    background: #fff;
}
#dropdown li.headlink:hover ul {
    display: block;
    position: absolute;
}
#dropdown li.headlink ul li {
    padding: 10px 3px 10px 3px;
    border-bottom: 1px solid #eee;
}

/*  Breadcrumbs menu */
#breadcrumbs {
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

#footer {
    text-align: center;
}