$link-color: #666;
$link-hover-color: #999;

body {
  font-size: 10px;
}

#logo {
  padding-top: 30px;
}

a {
  font-size: 12px;
}

a.header {
  color: $link-color;
  font-size: 24px;
}

a.simple {
  color: $link-color;
  text-decoration: none;

  &:hover {
    color: $link-hover-color;
  }
}

#footer-links {
  li {
    float:left;
    padding: {
      left: 10px;
      right: 10px;
    }
  }
}

ul.nav-bar {
  border: none;

  li {
    border: none;
    padding: {
      left: 15px;
    }

    div {
      padding: 5px;
    }
  }
}

input[type=text] {
  width: 100%;
}

select {
  display: inline;
}

sub {
  color: red;
}

#map_canvas, #fullmap {
  width: 420px;
  height: 240px;
  overflow: hidden;
  position: relative;
}

/* Ширина слайдера */
#slider {
  width: 100%;
}
/* Контейнер слайдера */
.ui-slider {
  position: relative;
}
/* Ползунок */
.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 4px;   /* Задаем нужную ширину */
  height: 10px;  /* и высоту */
  background: url(/assets/slider.png); /* картинка изображающая ползунок. Или можно залить цветом, задать бордюр и скругления */
  cursor: pointer
}
.ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  overflow: hidden;
}
/* горизонтальный слайдер (сама полоса по которой бегает ползунок) */
.ui-slider-horizontal {
  height: 1px; /* задаем высоту согласно дизайна */
}
/* позиционируем ползунки */
.ui-slider-horizontal .ui-slider-handle {
  top: -5px;
  margin-left: -3px;
}
.ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%;
}
.ui-slider-horizontal .ui-slider-range-min {
  left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
  right: 0;
}
/* оформление полосы по которой ходит ползунок */
.ui-widget-content {
  /* border: 1px solid #D4D4D4; */
  background: #999;
}
/* оформление активного участка (между двумя ползунками) */
.ui-widget-header {
  //border: 1px solid #D4D4D4;
  background: #666;
}
/* скругление для полосы слайдера
.ui-corner-all {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}   */

ul#data {
  li {
    float: left;
    padding: {
      left: 9px;
      right: 10px;
    }
  }
}

.mysmall {
  width: 150px;
}

.mymedium {
  width: 300px;
  font-size: 12px;
}

ul#thumbs {
  li {
    float: left;
    padding: 2px;

    div {
      border: 1px solid $link-hover-color;
      padding: 3px;
      display: none;
      position: absolute;
      background: white;
      z-index: 10;
      width: 150px;
    }
  }
}