- if @accounts
  - unless @accounts.empty?
    - for account in @accounts
      %p
        = image_tag "#{account.provider}_32.png", :size => "32x32"
        = link_to "X", account, :method => :delete

%h3 Your accounts here:

%p= link_to "Twitter", "/auth/twitter"